/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --button-text-color: #353430;
  --button_active: #353430;
  --article-text-color: #353430;
  --button-text-color-underline: #353430;
  --focus-color: #FFC2E6;
  --header-img: url('../images/cover-image-light.png');
  --button-hover: rgba(50, 49, 45, 0.4);
  --corner-color: #353430;
  --decoration-visible: none;
}

.theme_light .header__decoration {
  display: var(--decoration-visible);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --button-text-color: #353430;
    --button_active: #353430;
    --article-text-color: #353430;
    --button-text-color-underline: #353430;
    --focus-color: #FFC2E6;
    --header-img: url('../images/cover-image-light.png');
    --button-hover: rgba(50, 49, 45, 0.4);
    --corner-color: #353430;
    --decoration-visible: none;
  }
  .theme_light .header__decoration {
    display: var(--decoration-visible);
  }
}